experiments/
checkpoints/
data/
logs/
indexes/
mlruns/
sbatch_output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shall Script
.sh

# Jupyter Notebook
.ipynb_checkpoints

# mac
.DS_Store
